body{
    background-image: url(image/background-adare-restaurant.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 62.5%;
    box-sizing: border-box;
}
.full{
    width: 60rem;
    /* border:1px solid black; */
    text-align: center;
    display: inline-block;


}
.nav{
    background-color: rgba(0, 0, 0, 0.315);
    width: 55rem;
    max-width: 80rem;
    min-width: 30rem;
    display: inline-block;
    font-size: .9rem;
    margin: 10px;
    margin-top: 20px;
    /* position: sticky;
    top: .5rem; */
}
.nav a{
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 10px 15px;
}
a{
    text-transform: uppercase;
}
.para{
    width: 50rem;

    display: inline-block;
    height: 20rem;
    /* border:1px solid black; */
}
.para a{
    text-decoration: underline;
    font-size:1rem;
    color: white;
    padding-right: 1rem;
    padding-left: 1rem;
}
.para p{
    font-size: 1rem;
    width: 50rem;

}
h1{
    font-size: 5.5rem;
}
iframe{
    margin-top: 5rem;
    width: 53rem;
}
footer{
    background-color: rgba(37, 35, 35, 0.3);
    font-size: .9rem;
    width: 55rem;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    /* border:1px solid black; */
   


}
footer p{
    padding: 2.5rem;
    text-align: center;
}